# About Dataset
# Context
### This file consists of data from over 500+ cricket matches!
### Detailed Bowling Statistics (30columns in Bowl.csv )like runs conceded, mainden, economy, wickets, match date, player name, etc)
### Detailed Batting Statistics (28 Columns in bat.csv) like runs scored, #4's, #6's, balls faced, strike rate, how he got out, match id, etc)
### Detailed Match Statistics like date, match number, series, format, year are present here

### It so so so excited that SO MANY THINGS can be done with this data :) A few things done are listed below.

### Vizualizae a players Performance over the years
### Predict fantasy points for a player
### Find teams performance from over the years
### Segregate test, ODi, and t20 Performance for a player
### Find interesting statistics
### Optimize fantasy teams
### Predict Best performers and players for a specific series like IPL 2020.
### Content
### Go through all the data and you will get ALL THE CRICKET STATS YOU WILL EVER NEED. In total 60+ Columns of data

## Acknowledgements
#### We wouldn't be here without the help of others. If you owe any attributions or thanks, include them here along with any citations of past research.

## Inspiration
#### I have co-authored a Research paper using the same data called PrOBML: A machine learning approach to Predict, Optimise & Build fantasy Cricket teams using evolutionary algorithm I would like to see what the Kaggle community can do with this data. Do share and Upvote so that maximum people can make use of this data!

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from sklearn.manifold import TSNE
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor

from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVR
import statistics as stat
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings("ignore")

C:\Anaconda\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.25.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## 1. prdicting runrate using match.csv

### data preprocessing

In [2]:
df=pd.read_csv("match.csv")
df.head(4)

,Unnamed: 0,match_number,name,start_date,matchtype,series_id,match_detail_id,scorecard_id,title,runs,over,run_rate,match_id,opp_team_id,team_id
0,1417,1.0,Bangladesh v India,2004-12-22 18:30:00+00:00,odi,182,773,1495,India Innings,245,50.0,4.90,633,7,2
1,1418,1.0,Bangladesh v India,2004-12-22 18:30:00+00:00,odi,182,773,1496,Bangladesh Innings,234,50.0,4.68,633,2,7
2,1419,2.0,Bangladesh v India,2004-12-25 18:30:00+00:00,odi,182,774,1497,Bangladesh Innings,229,50.0,4.58,634,2,7
3,1420,2.0,Bangladesh v India,2004-12-25 18:30:00+00:00,odi,182,774,1498,India Innings,214,47.5,4.47,634,7,2

In [3]:
df.dtypes

Unnamed: 0           int64
match_number       float64
name                object
start_date          object
matchtype           object
series_id            int64
match_detail_id      int64
scorecard_id         int64
title               object
runs                 int64
over               float64
run_rate           float64
match_id             int64
opp_team_id          int64
team_id              int64
dtype: object

In [4]:
df.isnull().sum()

Unnamed: 0          0
match_number       75
name                2
start_date          0
matchtype           4
series_id           0
match_detail_id     0
scorecard_id        0
title               0
runs                0
over                0
run_rate            0
match_id            0
opp_team_id         0
team_id             0
dtype: int64

In [5]:
imputer=SimpleImputer(missing_values=np.nan,strategy='most_frequent',) #inspite of mean we can use median mode or any
imputer.fit(df.iloc[:,1:2].values)
x=imputer.transform(df.iloc[:,1:2].values)
df.iloc[:,1:2]=x

In [6]:
imputer1=SimpleImputer(missing_values=np.nan,strategy='most_frequent',) #inspite of mean we can use median mode or any

imputer1.fit(df.iloc[:,4:5].values)
x=imputer1.transform(df.iloc[:,4:5].values)
df.iloc[:,4:5]=x

In [7]:
imputer2=SimpleImputer(missing_values=np.nan,strategy='most_frequent',) #inspite of mean we can use median mode or any

imputer2.fit(df.iloc[:,2:3].values)
x=imputer2.transform(df.iloc[:,2:3].values)
df.iloc[:,2:3]=x

In [8]:
df.isnull().sum()

Unnamed: 0         0
match_number       0
name               0
start_date         0
matchtype          0
series_id          0
match_detail_id    0
scorecard_id       0
title              0
runs               0
over               0
run_rate           0
match_id           0
opp_team_id        0
team_id            0
dtype: int64

In [9]:
df["over"]=df["over"].astype(int)
df["run_rate"]=df["run_rate"].astype(int)

### visualization

In [ ]:
df.columns

In [ ]:
df.head(1)

In [ ]:
df.groupby("matchtype").size().plot(kind = 'bar')

In [ ]:
df.groupby("title").size().plot(kind = 'bar')

In [ ]:
df.groupby("run_rate").size().plot(kind = 'bar')

In [ ]:
sns.countplot(x = "run_rate", hue = 'matchtype', data = df)

### prediction of run rate

In [10]:
x=df[["runs","over"]]
y=df[["run_rate"]]

In [11]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

sc_x = StandardScaler()
x = sc_x.fit_transform(x)

In [12]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.3,random_state=1000)

In [13]:
rf_regressor=RandomForestRegressor(n_estimators=1000,random_state=50)
svc_regressor=SVR()
dt_regressor=DecisionTreeRegressor()

In [14]:
svc_regressor.fit(xtrain, ytrain)
dt_regressor.fit(xtrain, ytrain)
rf_regressor.fit(xtrain, ytrain)

RandomForestRegressor(n_estimators=1000, random_state=50)

In [15]:
svc_reg_ypred = svc_regressor.predict(xtest)
dt_reg_ypred = dt_regressor.predict(xtest)
rf_reg_ypred = rf_regressor.predict(xtest)

In [16]:
# finding error
svc_reg_err = mean_squared_error(ytest, svc_reg_ypred)
dt_reg_err = mean_squared_error(ytest, dt_reg_ypred)
rf_reg_err = mean_squared_error(ytest, rf_reg_ypred)

In [17]:
print ("Decision Tree error                : ", round(dt_reg_err, 2))
print ("Random Forest error                : ", round(rf_reg_err, 2)) 
print ("Support Vector Machine error       : ", round(svc_reg_err, 2))

Decision Tree error                :  0.15
Random Forest error                :  0.08
Support Vector Machine error       :  0.29

## 2.prediction of bowlers economy using ball.csv

In [18]:
df1=pd.read_csv("ball.csv")

In [19]:
df1

,Unnamed: 0,name_x,playing_role,id,order,run_conceded,maidens,wickets,overs,economy,...,matchtype,series_id,match_detail_id,title,runs,over,run_rate,match_id,opp_team_id,team_id
0,8526,Ajit Agarkar,BOWL,8544,2,51,0,2,10.0,5.10,...,odi,182,773,Bangladesh Innings,234,50.0,4.68,633,2,7
1,8518,Tapash Baisya,NaN,8536,0,67,0,2,10.0,6.70,...,odi,182,773,India Innings,245,50.0,4.90,633,7,2
2,8519,Mushfiqur Rahman,NaN,8537,1,29,0,1,6.0,4.83,...,odi,182,773,India Innings,245,50.0,4.90,633,7,2
3,8520,Nazmul Hossain,BOWL,8538,2,39,1,2,9.0,4.33,...,odi,182,773,India Innings,245,50.0,4.90,633,7,2
4,8521,Khaled Mahmud,NaN,8539,3,43,0,1,10.0,4.30,...,odi,182,773,India Innings,245,50.0,4.90,633,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36144,36090,Daniel Worrall,BOWL,36167,0,28,1,2,4.0,7.00,...,t20,505,2927,Melbourne Stars Innings,149,20.0,7.45,2930,37,35
36145,36086,Harry Conway,NaN,36168,1,29,0,1,4.0,7.25,...,t20,505,2927,Melbourne Stars Innings,149,20.0,7.45,2930,37,35
36146,36087,Wes Agar,NaN,36169,2,19,1,2,4.0,4.75,...,t20,505,2927,Melbourne Stars Innings,149,20.0,7.45,2930,37,35
36147,36088,Rashid Khan,BOWL,36170,3,29,0,2,4.0,7.25,...,t20,505,2927,Melbourne Stars Innings,149,20.0,7.45,2930,37,35
36148,36089,Danny Briggs,BOWL,36171,4,41,0,0,4.0,10.25,...,t20,505,2927,Melbourne Stars Innings,149,20.0,7.45,2930,37,35

In [20]:
df1.isnull().sum()

Unnamed: 0             0
name_x                 0
playing_role        1257
id                     0
order                  0
run_conceded           0
maidens                0
wickets                0
overs                  0
economy                0
wides                  0
no_balls               0
fours              36134
sixes              36134
zeros              36134
player_id              0
scorecard_id           0
match_number         436
name_y                12
start_date             0
matchtype             16
series_id              0
match_detail_id        0
title                  0
runs                   0
over                   0
run_rate               0
match_id               0
opp_team_id            0
team_id                0
dtype: int64

## handeling null values

In [21]:
im1=SimpleImputer(missing_values=np.nan,strategy='most_frequent',) #inspite of mean we can use median mode or any
im1.fit(df1.iloc[:,12:13].values)
x=im1.transform(df1.iloc[:,12:13].values)
df1.iloc[:,12:13]=x

In [22]:
im3=SimpleImputer(missing_values=np.nan,strategy='most_frequent',) #inspite of mean we can use median mode or any
im3.fit(df1.iloc[:,13:14].values)
x=im3.transform(df1.iloc[:,13:14].values)
df1.iloc[:,13:14]=x

In [23]:
im2=SimpleImputer(missing_values=np.nan,strategy='most_frequent',) #inspite of mean we can use median mode or any
im2.fit(df1.iloc[:,2:3].values)
x=im2.transform(df1.iloc[:,2:3].values)
df1.iloc[:,2:3]=x

In [24]:
im4=SimpleImputer(missing_values=np.nan,strategy='most_frequent',) #inspite of mean we can use median mode or any
im4.fit(df1.iloc[:,14:15].values)
x=im4.transform(df1.iloc[:,14:15].values)
df1.iloc[:,14:15]=x

In [25]:
im5=SimpleImputer(missing_values=np.nan,strategy='most_frequent',) #inspite of mean we can use median mode or any
im5.fit(df1.iloc[:,17:18].values)
x=im5.transform(df1.iloc[:,17:18].values)
df1.iloc[:,17:18]=x

In [26]:
im6=SimpleImputer(missing_values=np.nan,strategy='most_frequent',) #inspite of mean we can use median mode or any
im6.fit(df1.iloc[:,18:19].values)
x=im6.transform(df1.iloc[:,18:19].values)
df1.iloc[:,18:19]=x

In [27]:
im7=SimpleImputer(missing_values=np.nan,strategy='most_frequent',) #inspite of mean we can use median mode or any
im7.fit(df1.iloc[:,20:21].values)
x=im7.transform(df1.iloc[:,20:21].values)
df1.iloc[:,20:21]=x

In [28]:
df1.isnull().sum()

Unnamed: 0         0
name_x             0
playing_role       0
id                 0
order              0
run_conceded       0
maidens            0
wickets            0
overs              0
economy            0
wides              0
no_balls           0
fours              0
sixes              0
zeros              0
player_id          0
scorecard_id       0
match_number       0
name_y             0
start_date         0
matchtype          0
series_id          0
match_detail_id    0
title              0
runs               0
over               0
run_rate           0
match_id           0
opp_team_id        0
team_id            0
dtype: int64

In [29]:
df1.dtypes

Unnamed: 0           int64
name_x              object
playing_role        object
id                   int64
order                int64
run_conceded         int64
maidens              int64
wickets              int64
overs              float64
economy            float64
wides                int64
no_balls             int64
fours              float64
sixes              float64
zeros              float64
player_id            int64
scorecard_id         int64
match_number       float64
name_y              object
start_date          object
matchtype           object
series_id            int64
match_detail_id      int64
title               object
runs                 int64
over               float64
run_rate           float64
match_id             int64
opp_team_id          int64
team_id              int64
dtype: object

In [30]:
df1["overs"]=df1["overs"].astype(int)
df1["economy"]=df1["economy"].astype(int)
df1["fours"]=df1["fours"].astype(int)
df1["sixes"]=df1["sixes"].astype(int)
df1["zeros"]=df1["zeros"].astype(int)
df1["match_number"]=df1["match_number"].astype(int)
df1["over"]=df1["over"].astype(int)
df1["run_rate"]=df1["run_rate"].astype(int)

In [31]:
df1.dtypes

Unnamed: 0          int64
name_x             object
playing_role       object
id                  int64
order               int64
run_conceded        int64
maidens             int64
wickets             int64
overs               int32
economy             int32
wides               int64
no_balls            int64
fours               int32
sixes               int32
zeros               int32
player_id           int64
scorecard_id        int64
match_number        int32
name_y             object
start_date         object
matchtype          object
series_id           int64
match_detail_id     int64
title              object
runs                int64
over                int32
run_rate            int32
match_id            int64
opp_team_id         int64
team_id             int64
dtype: object

## visualization

#### using tsne

In [ ]:
xtsne=df1[["run_conceded","maidens","wickets","overs","wides","no_balls","fours","sixes","zeros","player_id","scorecard_id","match_number","series_id","match_detail_id","runs","over","match_id","opp_team_id","team_id"]]

In [ ]:
ytsne=df1[["economy"]]

In [ ]:
tsne=TSNE(n_components=2,random_state=0,n_iter=1000).fit_transform(xtsne)

In [ ]:
plt.figure(figsize=(12,8))
sns.scatterplot(x=tsne[:,0],y=tsne[:,1],hue=df1['economy'])
plt.show()

### corelation matrix using heatmap

In [ ]:
plt.figure(figsize=(12, 10))
heatmap = sns.heatmap(df1[["run_conceded","maidens","wickets","overs","wides","no_balls","fours","sixes","zeros","player_id","scorecard_id","match_number","series_id","match_detail_id","runs","over","match_id","opp_team_id","team_id","economy"]].corr(), annot=True,linewidths=2)

# bar graphs and pie graphs

In [ ]:
df1.columns

In [ ]:
df1.groupby("matchtype").size().plot(kind = 'bar')

In [ ]:
df1.groupby("title").size().plot(kind = 'bar')
sns.set(rc={'figure.figsize':(10.7,20.27)})

In [ ]:
df1.groupby("economy").size().plot(kind = 'bar')

In [ ]:
sns.countplot(x = "economy", hue = 'matchtype', data = df1)
sns.set(rc={'figure.figsize':(10.7,12.27)})

In [ ]:
sns.countplot(x = "wides", hue = 'economy', data = df1)
sns.set(rc={'figure.figsize':(16.7,165.27)})

### prediction of ecnomy

In [32]:
x=df1[["run_conceded","maidens","wickets","overs","wides","no_balls","fours","sixes","zeros","player_id","scorecard_id","match_number","series_id","match_detail_id","runs","over","match_id","opp_team_id","team_id"]]

In [33]:
x

,run_conceded,maidens,wickets,overs,wides,no_balls,fours,sixes,zeros,player_id,scorecard_id,match_number,series_id,match_detail_id,runs,over,match_id,opp_team_id,team_id
0,51,0,2,10,3,3,4,0,30,789,1496,1,182,773,234,50,633,2,7
1,67,0,2,10,3,0,4,0,30,850,1495,1,182,773,245,50,633,7,2
2,29,0,1,6,1,0,4,0,30,848,1495,1,182,773,245,50,633,7,2
3,39,1,2,9,3,0,4,0,30,851,1495,1,182,773,245,50,633,7,2
4,43,0,1,10,2,0,4,0,30,849,1495,1,182,773,245,50,633,7,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36144,28,1,2,4,0,0,4,0,30,728,6197,36,505,2927,149,20,2930,37,35
36145,29,0,1,4,1,0,4,0,30,1379,6197,36,505,2927,149,20,2930,37,35
36146,19,1,2,4,1,0,4,0,30,1348,6197,36,505,2927,149,20,2930,37,35
36147,29,0,2,4,0,0,4,0,30,599,6197,36,505,2927,149,20,2930,37,35
36148,41,0,0,4,0,0,4,0,30,633,6197,36,505,2927,149,20,2930,37,35

In [34]:
y=df1[["economy"]]

In [35]:
y

       economy
0            5
1            6
2            4
3            4
4            4
...        ...
36144        7
36145        7
36146        4
36147        7
36148       10

[36149 rows x 1 columns]

In [36]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

sc_x = StandardScaler()
x = sc_x.fit_transform(x)

In [37]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.3,random_state=1000)

In [38]:
rf_regressor=RandomForestRegressor(n_estimators=1000,random_state=1000)
svc_regressor=SVR()
dt_regressor=DecisionTreeRegressor()

In [ ]:
svc_regressor.fit(xtrain, ytrain)
dt_regressor.fit(xtrain, ytrain)
rf_regressor.fit(xtrain, ytrain)

In [ ]:
svc_reg_ypred = svc_regressor.predict(xtest)
dt_reg_ypred = dt_regressor.predict(xtest)
rf_reg_ypred = rf_regressor.predict(xtest)

In [ ]:
# finding error
svc_reg_err = mean_squared_error(ytest, svc_reg_ypred)
dt_reg_err = mean_squared_error(ytest, dt_reg_ypred)
rf_reg_err = mean_squared_error(ytest, rf_reg_ypred)

In [ ]:
print ("Decision Tree error                : ", round(dt_reg_err, 2))
print ("Random Forest error                : ", round(rf_reg_err, 2)) 
print ("Support Vector Machine error       : ", round(svc_reg_err, 2))

## 3.predection of batman's strikerate

In [ ]:
df2=pd.read_csv("bat.csv")

In [ ]:
df2.head(2)

In [ ]:
df2.isnull().sum()

### Handeling null

In [ ]:
i1=SimpleImputer(missing_values=np.nan,strategy='most_frequent',) #inspite of mean we can use median mode or any
i1.fit(df2.iloc[:,2:3].values)
x=i1.transform(df2.iloc[:,2:3].values)
df2.iloc[:,2:3]=x

In [ ]:
i2=SimpleImputer(missing_values=np.nan,strategy='most_frequent',) #inspite of mean we can use median mode or any
i2.fit(df2.iloc[:,11:12].values)
x=i2.transform(df2.iloc[:,11:12].values)
df2.iloc[:,11:12]=x

In [ ]:
i3=SimpleImputer(missing_values=np.nan,strategy='most_frequent',) #inspite of mean we can use median mode or any
i3.fit(df2.iloc[:,15:16].values)
x=i3.transform(df2.iloc[:,15:16].values)
df2.iloc[:,15:16]=x

In [ ]:
i4=SimpleImputer(missing_values=np.nan,strategy='most_frequent',) #inspite of mean we can use median mode or any
i4.fit(df2.iloc[:,10:11].values)
x=i4.transform(df2.iloc[:,10:11].values)
df2.iloc[:,10:11]=x

In [ ]:
i5=SimpleImputer(missing_values=np.nan,strategy='most_frequent',) #inspite of mean we can use median mode or any
i5.fit(df2.iloc[:,16:17].values)
x=i5.transform(df2.iloc[:,16:17].values)
df2.iloc[:,16:17]=x

In [ ]:
i6=SimpleImputer(missing_values=np.nan,strategy='most_frequent',) #inspite of mean we can use median mode or any
i6.fit(df2.iloc[:,18:19].values)
x=i6.transform(df2.iloc[:,18:19].values)
df2.iloc[:,18:19]=x

In [ ]:
df2.isnull().sum()

In [ ]:
df2.dtypes

In [ ]:
df2["strike_rate"]=df2["strike_rate"].astype(int)
df2["fall_of_wicket"]=df2["fall_of_wicket"].astype(int)
df2["fall_of_wicket_over"]=df2["fall_of_wicket_over"].astype(int)
df2["match_number"]=df2["match_number"].astype(int)
df2["over"]=df2["over"].astype(int)
df2["run_rate"]=df2["run_rate"].astype(int)

In [ ]:
df2.dtypes

### visualization

In [ ]:
df2.head(2)

In [ ]:
xtsne=df2[["id","order","runs_x","balls","fours","sixes","fall_of_wicket","fall_of_wicket_over","player_id","scorecard_id","match_number","series_id","match_detail_id","runs_y","over","run_rate","match_id","opp_team_id","team_id"]]

In [ ]:
xtsne

In [ ]:
ytsne=df2[["strike_rate"]]

In [ ]:
ytsne

In [ ]:
tsne=TSNE(n_components=2,random_state=0,n_iter=1000).fit_transform(xtsne)

In [ ]:
plt.figure(figsize=(12,8))
sns.scatterplot(x=tsne[:,0],y=tsne[:,1],hue=df2['strike_rate'])
plt.show()

### corelation matrix using heatmap

In [ ]:
plt.figure(figsize=(12, 10))
heatmap = sns.heatmap(df2[["id","order","runs_x","balls","fours","sixes","fall_of_wicket","fall_of_wicket_over","player_id","scorecard_id","match_number","series_id","match_detail_id","runs_y","over","run_rate","match_id","opp_team_id","team_id","strike_rate"]].corr(), annot=True,linewidths=2)

# bar graphs and pie graphs

In [ ]:
df2.groupby("matchtype").size().plot(kind = 'bar')

In [ ]:
df2.columns

In [ ]:
df2.groupby("playing_role").size().plot(kind = 'bar')

### prediction

In [ ]:
x=df2[["id","order","runs_x","balls","fours","sixes","fall_of_wicket","fall_of_wicket_over","player_id","scorecard_id","match_number","series_id","match_detail_id","runs_y","over","run_rate","match_id","opp_team_id","team_id"]]

In [ ]:
x

In [ ]:
y=df2[["strike_rate"]]
y

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler

sc_x = StandardScaler()
x = sc_x.fit_transform(x)

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.3,random_state=1000)

In [ ]:
rf_regressor=RandomForestRegressor(n_estimators=1000,random_state=1000)
svc_regressor=SVR()
dt_regressor=DecisionTreeRegressor()

In [ ]:
svc_regressor.fit(xtrain, ytrain)
dt_regressor.fit(xtrain, ytrain)
rf_regressor.fit(xtrain, ytrain)

In [ ]:
svc_reg_ypred = svc_regressor.predict(xtest)
dt_reg_ypred = dt_regressor.predict(xtest)
rf_reg_ypred = rf_regressor.predict(xtest)

In [ ]:
# finding accuracy
from sklearn.metrics import accuracy_score

svc_classifier_acc = accuracy_score(ytest, svc_classifier_ypred)
dt_classifier_acc = accuracy_score(ytest, dt_classifier_ypred)
rf_classifier_acc = accuracy_score(ytest, rf_classifier_ypred)

In [ ]:
print ("Decision Tree error                : ", round(dt_reg_err, 2))
print ("Random Forest error                : ", round(rf_reg_err, 2)) 
print ("Support Vector Machine error       : ", round(svc_reg_err, 2))